%h2 住所情報登録
= form_for @address do |f|
  = render "devise/shared/error_messages", resource: @address
  .field
    = f.label :送付先氏名
    %br/
    = f.text_field :last_name
    = f.text_field :first_name
  .field
    = f.label :送付先氏名カナ
    %br/
    = f.text_field :last_name_kana
    = f.text_field :first_name_kana
  .field
    = f.label :郵便番号
    %br/
    = f.text_field :post_code
  .field
    = f.label :都道府県
    %br/
    = f.text_field :prefecture
  .field
    = f.label :市区町村
    %br/
    = f.text_field :city
  .field
    = f.label :番地
    %br/
    = f.text_field :block
  .field
    = f.label :マンション名、ビル名、部屋番号など
    %br/
    = f.text_field :building
  .field
    = f.label :お届け先電話番号
    %br/
    = f.text_field :phone_number
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
