.out-area-grey
  .users-detail
    .users-detail__photo
      .users-detail__photo-box
      .users-detail-title
        = @user.nickname
      .users-detail-score
        出品数
        = @items.length
    .item-social-media-box
      = link_to "https://www.facebook.com/", class: "contents__btn" do
        = fa_icon 'facebook-square', class: 'icon-face'
      = link_to "https://twitter.com/", class: "contents__btn" do 
        = fa_icon 'twitter-square', class: 'icon-twitter'
      = link_to "https://line.me/ja/", class: "contents__btn" do
        %i.fab.fa-line
      = link_to new_card_path, class: "contents__btn" do
        %i.fas.fa-credit-card  
    .user-items_title
      出品中の商品
      .user-items-wrapper
        - @items.each do |item|
          = link_to item_path(item.id) do
            .user-item__box
              .user-item__box__image
                - img = item.images[0]
                = image_tag img.image.url, class: "user-item__box__image__content"
              .user-item__box__body
                .user-item__box__body__name
                  商品名
                  = item.name
                .user-item__box__body__price-box
                  .user-item__box__body__price-box__price
                    = "#{item.price}円"
                  .user-item__box__body__price-box__tax
                    (税込)

  = render 'shared/footer'
