-@user.id
.out-area-grey
  .users-detail
    .users-detail__photo
      .users-detail__photo-box
      .users-detail-title
        = @user.nickname
      .users-detail-score
        出品数
        = @items.length
    .item-social-media-box
      = link_to "https://www.facebook.com/", class: "contents__btn" do
        = fa_icon 'facebook-square', class: 'icon-face'
      = link_to "https://twitter.com/", class: "contents__btn" do 
        = fa_icon 'twitter-square', class: 'icon-twitter'
      = link_to "https://line.me/ja/", class: "contents__btn" do
        %i.fab.fa-line
      = link_to new_card_path, class: "contents__btn" do
        %i.fas.fa-credit-card  
    .item-title
      この出品者の商品
    .items-wrapper
      - @items.each do |sellor_items|
        .item__box
          .item__box__body
            .item__box__image
              - img = sellor_items.images[0]
              = image_tag img.image.url, class: "user__item__box__content"
              .item__box__body__name
                商品名
                = sellor_items.name
              .item__box__body__price-box__tax
                (税込)
                = sellor_items.price
  = render 'shared/footer'