-@user.id
.out-area-grey
  .users-detail
    .users-detail__photo
      .users-detail__photo-box
        = fa_icon 'facebook-square', class: 'icon1'
      .users-detail-title
        ユーザー名
      .users-detail-score
        評価3 出品数3
    .white
      = fa_icon 'home', class: 'icon'
      ３
      %i.far.fa-frown
      0 
      = fa_icon 'home', class: 'icon'
      0
    .item-social-media-box
      = fa_icon 'facebook-square', class: 'icon'
      = fa_icon 'twitter-square', class: 'icon'
      %i.fab.fa-line
    .item-title
      この出品者の商品
    .items-wrapper
      .item__box
        .item__box__image
          イメージ
        .item__box__body
          .item__box__body__name
            商品名
          .item__box__body__price-box
            .item__box__body__price-box__price
              1000円
            .item__box__body__price-box__tax
              (税込)
      .item__box
        .item__box__image
          イメージ
        .item__box__body
          .item__box__body__name
            商品名
          .item__box__body__price-box
            .item__box__body__price-box__price
              1000円
            .item__box__body__price-box__tax
              (税込)
      .item__box
        .item__box__image
          イメージ
        .item__box__body
          .item__box__body__name
            商品名
          .item__box__body__price-box
            .item__box__body__price-box__price
              1000円
            .item__box__body__price-box__tax
              (税込)
  = render 'shared/footer'