.header
  .header__wrapper
    .header__wrapper__top
      .header__wrapper__top__logo
        = link_to (image_tag 'logo/logo.png'), items_path
      .header__wrapper__top__search-box
        .header__wrapper__top__search-box__window
          = form_with(url: search_items_path,local: true,method: :get,id: 'search-input-id', class: 'search-input') do |f|
            = f.text_field :keyword, placeholder: "キーワードから探す",class: "text"
            .icon-wrapper
              = f.submit "", class: "icon"
        -# .header__wrapper__top__search-box__logo
        -#   = link_to(icon('fa', 'search'),"#")
    .header__wrapper__bottom

      .header__wrapper__bottom__find-box
        .header__wrapper__bottom__find-box__category
          = link_to 'カテゴリー', "#", method: :get

        .header__wrapper__bottom__find-box__brand
          = link_to 'ブランド', "#", method: :get

        .header__wrapper__bottom__find-box__brand
          - if user_signed_in?
            = link_to 'マイページ', user_path(current_user)
      .header__wrapper__bottom__login-box
        - if user_signed_in?
          .header__wrapper__bottom__login-box__regi-btn
            = link_to '出品する', new_item_path, method: :get
          .header__wrapper__bottom__login-box__log-btn
            = link_to 'ログアウト', destroy_user_session_path, method: :delete
        - else
          .header__wrapper__bottom__login-box__regi-btn
            = link_to '新規会員登録', new_user_registration_path, method: :get
          .header__wrapper__bottom__login-box__log-btn
            = link_to 'ログイン', new_user_session_path, method: :get