.main
  .show_main
    .content
      .item_box
        .item_box__item_title
          購入内容の確認
        %hr
        .item-review
          .item-review__image
            = @item.price
          .item-review__wrapper
            .item-review__wrapper__title
              = @item.name
            .item-review__wrapper__price
              = @item.price        
        %hr
        .payment-amount
          .payment-amount__title
            支払金額
          .payment-amount__amount
            = @item.price
        %hr

        .payment-methods
          .payment-methods__top
            .title
              %h1 支払方法
            .btn
              %h2 変更する
          .payment-methods__bottom
            .payment-methods__bottom__method
              支払い方法
              = form_with url: confirmation_item_path do
                :plain
                  <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_68e28eb49989b2a1e9972cf4"></script>
            .payment-methods__bottom__card-no
              ***********4460
            .payment-methods__bottom__card-valid
              有効期限 05/23
            .payment-methods__bottom__card-logo
              ロゴ
        %hr
        .delivery-destination
          .delivery-destination__top
            .title
              配達先
            .btn
              変更する
          .delivery-destination__bottom
            .delivery-destination__bottom__post-code
              ="〒#{@address.post_code}"
            .delivery-destination__bottom__address
              ="#{@address.prefecture}#{@address.city}#{@address.block}#{@address.building}"
            .delivery-destination__bottom__name
              ="#{@address.last_name} #{@address.first_name}"
        %hr
        .submit-btn
          購入する

