
.main
  .show_main
    .content
      .item_box
        .item_box__item_title
          商品の情報を編集
        %hr
        .column_title__edit
          .column_title__edit__wrapper
            .column_title___edit__wrapper__text
              %h1 出品画像
              %p 必須
              %span 最大4枚まで登録できます
            - @images.each do |image|
              = image_tag image.image.url, class:"item_image"
        .image_form
          = form_with model: @item do |f|
            = f.fields_for :images do |img|
              = img.file_field :image,class: "items_form"
              
            %hr
            .column_title
              .column_title__wrapper
                %h1 商品名
                %p 必須
            = f.text_field :name,placeholder: "商品名（必須40文字まで)" , class: "items_form-a"
            .column_title
              .column_title__wrapper
                %h1 商品の説明
                %p 必須
            = f.text_area :description,placeholder: "商品の説明（必須1000文字以内）" , class: "items_form-b"
            %hr

            .split
              %span 商品の詳細
              .item_detail_right
                .listing-form-box
                  .listing-product-detail__category
                    = f.label 'カテゴリー', class: 'listing-default__label'
                    %span.listing-default--require 必須
                    .listing-select-wrapper
                      .listing-select-wrapper__box
                        = f.select :category_id, options_for_select(@category_parents_array.map{|c|[c[:name],c[:name],{'data-category'=>c[:id]}]},@selected_parent_category.name), {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
                    .listing-select-wrapper__added#children_wrapper
                      .listing-select-wrapper__box
                        = f.select :category_id, options_for_select(@category_children_array.map{|c|[c[:name],c[:id],{'data-category'=>c[:id]}]},@selected_child_category.id), {}, {class: 'listing-select-wrapper__box--select', id: 'child_category'}
                    .listing-select-wrapper__added#grandchildren_wrapper
                      .listing-select-wrapper__box
                        = f.select :category_id, options_for_select(@category_grandchildren_array.map{|c|[c[:name],c[:id],{'data-category'=>c[:id]}]},@selected_grandchild_category.id), {}, {class: 'listing-select-wrapper__box--select', id:  'grandchild_category'}
                .column_title
                  .column_title__wrapper
                    %h1 商品の状態
                    %p 必須
                  = f.collection_select :condition_id, Condition.all, :id, :name

            %hr

            .split
              %span 配送について
              .item_detail_right
                .column_title
                  .column_title__wrapper
                    %h1 配送料の負担
                    %p 必須
                = f.collection_select :postage_id, Postage.all, :id, :name
                .column_title
                  .column_title__wrapper
                    %h1 発送元の地域
                    %p 必須
                = f.collection_select :region_id, Region.all, :id, :name
                .column_title
                  .column_title__wrapper
                    %h1 発送までの日数
                    %p 必須
                = f.collection_select :shipping_date_id, ShippingDate.all, :id, :name
            %hr

            .split
              %span 販売価格（300~9,999,999）
              .split
                .column_title
                  .column_title__wrapper
                    %h1 価格
                    %p 必須
                = f.text_field :price,placeholder: "例) 300", class: "items_form-d"
            %hr
            - if user_signed_in?
              = f.hidden_field :seller_id, value: current_user.id # ユーザーに入力させることなくseller_idをテーブルに保存させるため
            = f.hidden_field :status, value: "exibiting" # ユーザーに入力させることなくstatusを出品中にするため
            
            
            = f.submit "編集する" ,class: "send_btn"
            = link_to "もどる", "#", class: "back_btn"
