//人生を変えるフリマアプリ部分
.main
  .key-visual-a
    .key-visual-a__text-box
      .key-visual-a__text-box__message-a
        人生を変えるフリマアプリ
      .key-visual-a__text-box__message-b
        %p
          FURIMAは誰でもかんたんに出品・購入できる
          %br
            フリマアプリです
      .key-visual-a__text-box__banners
        .banner-apple
          = link_to (image_tag 'apple-logo.svg',size: '180x60'), "#"

        .banner-google
          = link_to (image_tag 'google-play-badge.png',size: '230x90'), "#"

      
  //FURIMAが選ばれる３つの理由部分
  .introductions
    .introductions__title
      FURIMAが選ばれる3つの理由
    .introductions__lists
      .introductions__lists__list
        .introductions__lists__list__image-left
          .introductions__lists__list__image-left__no
            1
        .introductions__lists__list__title
          3分ですぐに出品
        .introductions__lists__list__text
          スマホで入力するだけで簡単に出品できる！
      .introductions__lists__list
        .introductions__lists__list__image-center
          .introductions__lists__list__image-center__no
            2
        .introductions__lists__list__title
          シンプルで使いやすい
        .introductions__lists__list__text
          めんどくさい入力は必要なく検索も購入もスムーズ！
      .introductions__lists__list
        .introductions__lists__list__image-right
          .introductions__lists__list__image-right__no
            3
        .introductions__lists__list__title
          手数料業界最安
        .introductions__lists__list__text
          最大3%でお得に出品&購入！
  //会員数日本一位部分
  .key-visual-b
    .key-visual-b__wrapper
      .key-visual-b__wrapper__title
        会員数日本一位
      .key-visual-b__wrapper__text
        %p
          FURIMAは、フリマアプリで最も人気。
          %br
          出品・購入回数も業界最多です！
          %br
          欲しかったあの商品に出会えるかもしれません。
      .key-visual-b__wrapper__banners
        .banner-apple
          = link_to (image_tag 'apple-logo.svg',size: '180x60'), "#"

        .banner-google
          = link_to (image_tag 'google-play-badge.png',size: '230x90'), "#"

  //FURIMAの特徴部分
  .key-features
    .key-features__title
      FURIMAの特徴
    .key-features__wrapper
      .key-features__wrapper__box        
        .key-features__wrapper__box__image-left
        .key-features__wrapper__box__title
          簡単に売り買いできる
        .key-features__wrapper__box__text
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能
      .key-features__wrapper__box
        .key-features__wrapper__box__image-center
        .key-features__wrapper__box__title
          売上金は即日振込みに対応
        .key-features__wrapper__box__text
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .key-features__wrapper__box
        .key-features__wrapper__box__image-right
        .key-features__wrapper__box__title
          様々な支払いに対応
        .key-features__wrapper__box__text
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  //ピックアップカテゴリー部分
  .pickup-items
    .pickup-items__title
      ピックアップカテゴリー
    .items_title
      %p 新規投稿商品
      .items-wrapper
        - @items.each do |item|
          = link_to item_path(item.id) do
            .item__box
              .item__box__image
                = image_tag item.images[0].image.url, class: "item__box__content"
                .item__box__body
                  .item__box__body__name
                    = item.name
                  .item__box__body__price-box
                    .item__box__body__price-box__price
                      = "#{item.price}円"
                    .item__box__body__price-box__tax
                      (税込)
    .items_title
      %p 売れ残り商品
      .items-wrapper
        - @older_items.each do |item|
          = link_to item_path(item.id) do
            .item__box
              .item__box__image
                - img = item.images[0]
                = image_tag img.image.url, class: "item__box__content"
              .item__box__body
                .item__box__body__name
                  = item.name
                .item__box__body__price-box
                  .item__box__body__price-box__price
                    = "#{item.price}円"
                  .item__box__body__price-box__tax
                    (税込)

//誰でも簡単、人生を変えるフリマアプリ部分
.app-banner
  .app-banner__box
    .app-banner__box__text-top
      誰でも簡単、人生を変えるフリマアプリ
    .app-banner__box__text-center
      今すぐ無料ダウンロード
    .banner-wrapper
      .banner-wrapper__box 
        .banner-apple
          = link_to (image_tag 'apple-logo.svg',size: '180x60'), "#"
        .banner-google 
          = link_to (image_tag 'google-play-badge.png',size: '230x90'), "#"


.post-item-btn
  = link_to new_item_path, class:"post-item-btn"  do
    .post-item-btn__title
      出品する
    .post-item-btn__image
      = image_tag 'icon/icon_camera.png', size: '50x50'

= render 'shared/footer'
