.image_form
  = form_with model: @item do |f|
    -# 出品画像
    -# 最大10枚までアップロードできます
    -# = f.label(:)
    = f.fields_for :images do |img|
      = img.file_field :image, {class: "items_form"}

    出品者
    = f.text_field :seller_id, class: "items_form"
    商品名
    = f.text_field :name, class: "items_form"
    商品の説明
    = f.text_field :description, class: "items_form"
    カテゴリ
    = f.text_field :categories_id, class: "items_form"
    商品の状態
    = f.text_field :condition, class: "items_form"
    配送料の負担
    = f.text_field :postage, class: "items_form"
    発送元の地域
    = f.text_field :region, class: "items_form"
    発送までの日数
    = f.text_field :shipping_date, class: "items_form"
    価格
    = f.text_field :price, class: "items_form"
    ステータス
    = f.text_field :status, class: "items_form"
    = f.submit "SEND"

