.image_test
  = form_with(model: @item, url: items_path, local: true, method: :post,class:"user_new" ) do |form|
    -# = form.file_field :image
    出品者
    = form.text_field :seller_id
    商品名
    = form.text_field :name 
    商品の説明
    = form.text_field :description
    カテゴリ
    = form.text_field :categories_id
    発送料の負担
    = form.text_field :postage
    発送元の地域
    = form.text_field :region
    発送までの日数
    = form.text_field :shipping_date
    価格
    = form.text_field :price
    状態
    = form.text_field :condition
    ステータス
    = form.text_field :status
    = form.submit "SEND"

