.main
  .show_main
    .content
      .item_box
        .item_box__item_title テストアイテム
        .item_box__body
          -if @item.buyer_id.present?
            .item_box__body__main_sold 
              .item_box__body__main_sold__text SOLD
          - else
            .item_box__body__main_image
              - @item.images.each do |img|
                = image_tag img.image.url
          %ul.item_box__body__sub_images
            %li.item_box__body__sub_image1
            %li.item_box__body__sub_image2
            %li.item_box__body__sub_image3
        .item_box__price
          %p 
            = "¥#{@item.price}"
          .item_box__body__images
            .item_box__body__main_image
              = image_tag @image_first.image.url, class:"img"
            .item_box__body__other_image
              - @image_others.each do |i|
                = image_tag i.image.url, class: "img_others"
          
        .item_box__price
          %p 
            = "#{@item.price}円"
        .item_box__price_detail
          %p 税込（送料込み）
        .item_detail
          .item_detail__item_name
            = @item.name
          .item_table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td
                    - @user.each do |user|
                      = user.nickname
                %tr
                  %th カテゴリー
                  %td 
                    = @item.categories.name
                %tr
                  %th 商品の状態
                  %td
                    = @item.condition.name
                %tr
                  %th 配送料の負担
                  %td
                    = @item.postage.name
                %tr
                  %th 発送元の地域
                  %td
                    = @item.region.name
                %tr
                  %th 発送日の目安
                  %td
                    = @item.shipping_date.name
        .delete-btn-wrapper
          - if @item.buyer_id.present?
          - elsif user_signed_in? && current_user.id == @item.seller_id
            = link_to "編集する", edit_item_path, class:"edit_btn"
            = link_to "この商品を削除する", item_path(@item.id),method: :delete, class:"delete_btn"
          - elsif user_signed_in?
            = link_to "購入手続きに進む", item_purchase_index_path(@item.id), class:"edit_btn"
          - else
          %ul.item_links
            .links_left
              = link_to "#", class: 'links_angle' do
                = icon('fa', 'angle-left')
                前の商品
            .links_right
              = link_to "#", class: 'links_angle' do
                後ろの商品
                = icon('fa', 'angle-right')
          = link_to "#{@item.categories.name}をもっとみる", "#", class: "category_link"

= render 'shared/upper_footer'
= render 'shared/footer'